*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    scroll-behavior: smooth;
}

section#homepage .header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px 200px;
    color: grey;
}

.header .contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact .contact-phone{
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.contact .contact-phone i{
    transition: 0.3s;
    cursor: pointer;
}

.contact .contact-phone i:hover{
    color: rgb(65, 5, 107);
}

.contact p{
    margin: 0;
    margin-left: 4px;
    font: 600 17px sans-serif;
    transition: 0.3s;
    cursor: pointer;
}

.contact p:hover{
    color: rgb(65, 5, 107);
}
.contact .contact-email{
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.contact .contact-email i{
    transition: 0.3s;
    cursor: pointer;
}

.contact .contact-email i:hover{
    color: rgb(65, 5, 107);
}

.our-register{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.our-register p a{
    transition: 0.3s;
    text-decoration: none;
    color: grey;
    cursor: pointer;
}

.our-register p #open-form:hover{
    color: rgb(65, 5, 107);

}

.our-register p a:hover{
    color: rgb(65, 5, 107);
}

.our-register p{
    margin-bottom: 0;
    font: 600 17px sans-serif;
}

.our-register .register-icons{
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
}

.our-register .register-icons a{
    color: black;
    font-size: 18px;
    padding: 0 5px;
    color: grey;
}

.our-register .register-icons a:hover{
    color: rgb(65, 5, 107);
}

/* navbar */
.navbar{
    height: 100px;
    background-color: rgb(65, 5, 107);
}

.fixed{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1111;
}

.navbar .menu{
    padding: 0 90px;
}

.navbar-nav .nav-link{
    color: white;
    transition: 0.3s;
    font: 600 17px sans-serif;
}

body .navbar .nav-item .nav-link.active{
    color: red;
    transform: scale(1.3);

}

.navbar-nav .nav-link:hover{
    color: white;
    transform: scale(1.3);
}

.navbar-nav{
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.animate__animated .animate__slideInUp{
    animation-duration: 3s;
}

/* carausel */

.mySwiper {
  width: 100%;
  height: 100vh;
}

.mySwiper .swiper-slide {
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 200px;
  color: white;
}

.mySwiper .swiper-slide h1{
    font: 500 70px sans-serif;
    width: 50%;
}

.mySwiper .swiper-slide p{
    font: 500 30px sans-serif;
    width: 95%;
    margin: 30px 0;
    line-height: 40px;
}

.mySwiper .swiper-slide .btns{
    width: 46%;
    display: flex;
    justify-content: space-between;
}

.mySwiper .swiper-slide .btns .btn{
    background-color: white;
    text-transform: uppercase;
    padding: 15px 40px;
    font: 500 20px sans-serif;
    color: black;
    border: 2px solid white;
    transition: 0.5s;
}

.mySwiper .swiper-slide .btns .btn:hover{
    background-color: transparent;
    color: white;
}

.mySwiper .swiper-slide:nth-child(1){
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(img/home1.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.mySwiper .swiper-slide:nth-child(2){
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(img/home1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section#about{
    height: 100vh;
}

.swiper-button-prev::after{
    content: "";
}

.swiper-button-next::after{
    content: "";
}

.swiper-button-prev i{
    font-size: 70px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-left: 40px;
}

.swiper-button-next i{
    font-size: 70px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-right: 40px;
}

/* form */
section#homepage #register-form{

    position: fixed;
    height: 100vh;
    background-color: white;
    width: 100%;
    top: 0;
    z-index: 1111;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#register-form form{
    width: 500px;
    background-color: black;
    padding: 30px;
    color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
    position: relative;
}

#register-form form input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
}

#register-form form label{
    font: 700 17px sans-serif;
}

#register-form form input:focus{
    box-shadow: none;
}

#register-form form button{
    font: bold 17px sans-serif;
}

#register-form #square{
    width: 40px;
    height: 40px;
    background-color: red;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#register-form #square:hover{
    background-color: rgb(193, 3, 3);
}

/* section#whatWeDo */

section#whatWeDo{
    padding: 80px 0;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

section#whatWeDo h3{
    font: 600 40px sans-serif;
    text-transform: capitalize;
}

section#whatWeDo p{
    font: 500 18px sans-serif;
    color: grey;
    width: 85%;
    margin: 35px auto;
    line-height: 27px;
}

section#whatWeDo .what-cards{
    display: flex;
    justify-content: space-between;
}

section#whatWeDo .what-cards .what-card{
    width: 380px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

section#whatWeDo .what-cards .what-card:hover{
    box-shadow: 0 0 10px rgb(65, 5, 107);
}

section#whatWeDo .what-cards .what-card h3{
    font: 700 24px sans-serif;
    margin-top: 15px;
}

section#whatWeDo .what-cards .what-card p{
    width: 80%;
    margin: 0;
    margin-top: 30px;
}


/* section#aboutUs */

section#aboutUs{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section#aboutUs .about-text{
    width: 50%;
    margin-top: 50px;
}

section#aboutUs .about-text h3{
    font: 600 40px sans-serif;
    text-transform: capitalize;
}

section#aboutUs .about-text p{
    font: 500 18px sans-serif;
    color: grey;
    line-height: 27px;
    width: 83%;
    margin: 30px 0;
}

section#aboutUs .about-image{
    width: 50%;
    position: relative;
}

section#aboutUs .about-image img{
    width: 100%;
    object-fit: cover;
    box-shadow: 0 0 5px rgb(119, 114, 114);
}

section#aboutUs .about-image .square{
    position: absolute;
    border: 5px solid rgb(119, 114, 114);
    top: 50px;
    bottom: -50px;
    right: 30px;
    left: -30px;
    z-index: -1;
}

section#aboutUs .about-text .btn{
    background-color: rgb(65, 5, 107);
    border-radius: 0;
    color: white;
    text-transform: uppercase;
    padding: 13px 30px;
    border: 2px solid rgb(65, 5, 107);
    transition: 0.5s;
    font-weight: 600;
}

section#aboutUs .about-text .btn:hover{
    background-color: transparent;
    color: rgb(65, 5, 107);
}

/* section#ourService */
section#ourService{
    width: 80%;
    margin:  0 auto;
    padding: 120px 0 80px 0;
    text-align: center;
}

section#ourService h3:nth-child(1){
    font: 600 40px sans-serif;
    text-transform: capitalize;
}

section#ourService p{
    font: 500 18px sans-serif;
    width: 75%;
    margin: 0 auto;
    color: grey;
}

section#ourService .service-gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 70px;
    margin-top: 35px;

}

.service-gallery .s-card{
    padding:  25px 6px;
    transition: 0.5s;
}

.service-gallery .s-card:hover{
    box-shadow: 0 0 10px black;
}

.service-gallery .s-card h3{
    margin: 30px 0;
}

.service-gallery .s-card p{
    width: 100%;
    font-size: 19px;
}

.service-gallery .s-card a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(65, 5, 107);
}

/* section#statistics */
section#statistics{
    padding: 80px 0;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/home1.avif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

section#statistics article{
    display: flex;
    align-items: center;
    justify-content: center;
}

section#statistics article p{
    font: 600 20px sans-serif;
}

article img{
    margin-right: 25px;
}

section#statistics article h3{
    font: 600 40px sans-serif;
}

.scroll-button{
    width: 40px;
    height: 40px;
    border-radius: 7px;
    background-color: rgb(65, 5, 107);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: fixed;
    right: 20px;
    bottom: 15px;
    z-index: 1;
    opacity: 0;
}

.active{
    opacity: 1;
}


.scroll-button i{
    font-size: 25px;
}

/* section#project */
section#project{
    padding: 80px 0;
    width: 80%;
    margin: 0 auto;
}

section#project h3:nth-child(1){
    font: 600 31px sans-serif;
}

section#project p{
    font: 500 17px sans-serif;
    margin-top: 20px;
}

.project-images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.single-img{
    position: relative;
    display: inline-block;
    color: black;
    color: white;
    overflow: hidden;
    margin-right: 25px;
    height: 100%;
}

.single-img img{
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
    height: 100%;
}

.single-img .text{
    position: absolute;
    text-align: center;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(117, 2, 152,0.5),rgb(117, 2, 152,0.5));
    transform: scale(0);
    transition: 0.5s;
}

.single-img:hover .text{
    transform: scale(1);
}

.single-img:hover img{
    transform: scale(1.2);
}

section#project .single-img h3{
    font: 700 30px sans-serif;
    margin: 15px 0;
}

section#project .single-img i{
    font-size: 25px;
}

section#project .gallery-img{
    position: relative;
    overflow: hidden;
}

.gallery-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;

}
.gallery-img img{
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.gallery-img .text{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-image: linear-gradient(rgb(117, 2, 152,0.5),rgb(117, 2, 152,0.5));
    transform: scale(0);
    transition: 0.5s;
}

.gallery-img:hover .text{
    transform: scale(1);
}

.gallery-img:hover img{
    transform: scale(1.2);
}

.btn-project{
    padding: 12px 0px;
    background-color: rgb(65, 5, 107);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin: 50px auto 0 auto;
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: center;
    transition: 0.5s;
    border: 2px solid rgb(65, 5, 107);

}

.btn-project:hover{
    background-color: transparent;
    border: 2px solid rgb(65, 5, 107);
    color: rgb(65, 5, 107);
}

/* section#ourTeam */
section#ourTeam{
    background-color: purple;
    padding: 80px 0;
}

section#ourTeam h3{
    color: white;
    font: 600 40px sans-serif;
    text-transform: capitalize;
    width: 83%;
    margin: 0 auto;
}

section#ourTeam .title-p{
    color: white;
    font: 500 18px sans-serif;
    width: 83%;
    margin: 15px auto 45px auto;
}

.box {
    display: flex;
    height: 350px;
    margin: 0 auto;
    overflow: hidden;
    width: 83%;
  }
  .box .swiper-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .box .swiper-wrapper .prev-slide,
  .box .swiper-wrapper .next-slide {
    opacity: 0.4;
  }
  .box .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-color: white;
    padding: 0;
  }

  .box .slide-image img {   
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.box .slide-image{
    width: 100%;
    display: block;
    height: 100%;
}

.box .slide-image .text{
    position: absolute;
    bottom: -24px;
    width: 100%;
    color: white;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    padding: 10px 15px;
    transition: 0.5s;
}

.box .text p{
    font: 600 22px sans-serif;
    margin: 0 0 10px 0;
}

.box .text h6{
    font: 500 13px sans-serif;
    margin: 0 0 7px 0;
}

.box a{
    text-decoration: none;
    color: rgb(55, 0, 95);
    font: 500 16px sans-serif;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s;
}

.box .slide-image:hover .text{
    bottom: 0;
}

.box .slide-image:hover a{
    opacity: 1;
}

/* section#ourPrice */

section#ourPrice{
    padding: 80px 0;
    text-align: center;
}

section#ourPrice .title{
    font: 600 40px sans-serif;
}

section#ourPrice .title-p{
    font: 500 18px sans-serif;
    width: 67%;
    margin: 0 auto;
    line-height: 25px;
}

section#ourPrice .our-cards{
    display: flex;
    width: 83%;
    margin:  70px auto 0 auto;
    justify-content: space-between;
}

section#ourPrice .our-cards .card{
    width: 23%;
    border-radius: 0;
    height: 500px;
    border: none;
    opacity: 0.5;
    transition: 0.5s;
}

section#ourPrice .our-cards .card:hover{
    opacity: 1;
}

.our-cards .card .header{
    height: 160px;
    background-color: rgb(55, 0, 95);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.our-cards .card .header h3{
    font: 700 28px sans-serif;
}

.our-cards .card .header h3:nth-child(2){
    font: 600 35px sans-serif;
    margin: 10px 0;
}

.our-cards .card .body{
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.our-cards .card .body .our-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
}

.our-menu li{
    margin-bottom: 20px;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    font: 500 18px sans-serif;
}

.our-cards button{
    padding: 10px 0;
    width: 150px;
    font: 500 17px sans-serif;
    background-color: rgb(55, 0, 95);
    color: white;
    border: 2px solid rgb(55, 0, 95);
}

/* section#aboutClient */

section#aboutClient{
    padding: 80px 0;
    background-color: white;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.mySwiper3 {
  width: 83%;
  height: 100%;
  margin: 0 auto;
}

section#aboutClient h3{
    font: 700 38px sans-serif;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}

.mySwiper3 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mySwiper3 .swiper-slide .client-image{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid rgb(21, 0, 255);
}

.mySwiper3 .swiper-slide .client-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.mySwiper3 .swiper-slide h1{
    font: 700 70px sans-serif;
    margin: 30px 0;
}

.mySwiper3 .swiper-slide p{
    font: 500 25px sans-serif;
    color: grey;
    width: 80%;
    line-height: 30px;
}

.mySwiper3 .swiper-slide h3{
    font-size: 28px;
    color: rgb(55, 0, 95);
}

.mySwiper3 .swiper-slide h4{
    font-size: 20px;
    margin-bottom: 70px;
}

.mySwiper3 .swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    background-color: red;
    border: 2px solid blue;
}



/* section#ourSponsors */
section#ourSponsors{
    background-color: rgb(55, 0, 95);
    color: white;
    padding: 80px 0;
}

/* html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

.mySwiper5 {
  width: 83%;
  height: 100%;
  display: flex;
  align-items: center;
}

.mySwiper5 .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}

.mySwiper5 .swiper-slide img {
  width: 100%;
  height: 100%;
  background-color: transparent;
  object-fit: cover;
  
}

.mySwiper5 .swiper-slide .image{
    width: 150px;
}






@media screen and (min-width: 320px) and (max-width: 576px){
    section#homepage .header{
        padding: 8px 25px;
        display: block;
    }

    .header .contact{
        display: block;
    }

    .contact .contact-email{
        margin-top: 7px;
        margin-left: 0;
    }

    .navbar .menu{
        padding: 0 30px;
    }

    .swiper-slide {
        padding: 0 30px;
      }

    .swiper-slide h1{
        font: 500 40px sans-serif;
        width: 100%;
    }
    
    .swiper-slide p{
        font: 500 17px sans-serif;
        width: 100%;
    }

    .swiper-button-prev i{
        font-size: 30px;
        margin-left: 0;
    }
    
    .swiper-button-next i{
        font-size: 30px;
        margin-right: 0;
    }

    .swiper-slide .btns .btn{
        padding: 5px 12px;
        font: 500 16px sans-serif;
    }

    .swiper-slide .btns{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .swiper {
        height: 50vh;
    }

    #register-form form{
        width: 300px;
    }

    section#whatWeDo .what-cards{
        display: block;
    }

    section#whatWeDo .what-cards .what-card{
        width: 260px;
    }

    section#aboutUs{
        width: 80%;
        display: block;
    }

    section#aboutUs .about-text{
        width: 100%;
        text-align: center;
    }

    section#aboutUs .about-text h3{
        font: 600 30px sans-serif;
        text-transform: capitalize;
    }

    section#aboutUs .about-text p{
        width: 100%;
    }

    section#aboutUs .about-text .btn{
        padding: 7px 20px;
        font-weight: 500;
    }

    section#aboutUs .about-image{
        width: 100%;
        margin-top: 30px;
        position: relative;
    }
    
    section#aboutUs .about-image .square{
        position: absolute;
        top: 20px;
        bottom: -20px;
        right: 10px;
        left: -10px;
        z-index: -1;
        border: 2px solid grey;
    }

    section#ourService .service-gallery{
        display: block;
    }

    section#ourService .service-gallery .s-card{
        margin-bottom: 40px;
    }

    .project-images{
        display: block;
    }

    .single-img{
        display: block;
        width: 100%;
        height: 100%;
    }

    .gallery-images{
        display: block;
    }

    .gallery-images img{
        margin: 20px 0;
    }

    section#ourTeam h3{
        font: 600 30px sans-serif;
    }
    
    section#ourTeam .title-p{
        font: 500 17px sans-serif;
    }

    section#ourPrice .our-cards{
        display: block;
    }
    
    section#ourPrice .our-cards .card{
        width: 100%;
    }
}


@media screen and (min-width: 576px) and (max-width: 768px){
    section#homepage .header{
        padding: 15px 30px;
        display: block;
    }

    .navbar .menu{
       padding: 0;
    }

    .swiper-slide {
        padding: 0 90px;
      }

    .swiper-slide h1{
        font: 500 50px sans-serif;
        width: 100%;
    }
    
    .swiper-slide p{
        font: 500 20px sans-serif;
        width: 100%;
    }

    .swiper-button-prev i{
        font-size: 40px;
        margin-left: 30px;
    }
    
    .swiper-button-next i{
        font-size: 40px;
        margin-right: 30px;
    }

    .swiper-slide .btns .btn{
        padding: 10px 15px;
        font: 500 16px sans-serif;
    }

    .swiper-slide .btns{
        width: 80%;
        display: flex;
        justify-content: space-between;
    }

    .swiper {
        height: 100vh;
    }

    section#whatWeDo{
        width: 98%;
    }

    section#whatWeDo .what-cards{
        display: block;
    }

    section#whatWeDo .what-cards .what-card{
        margin: 0 auto;
    }

    section#whatWeDo .what-cards .what-card{
        width: 300px;
        height: 290px;
    }

    section#aboutUs{
        width: 80%;
        display: block;
    }

    section#aboutUs .about-text{
        width: 100%;
        text-align: center;
    }

    section#aboutUs .about-text h3{
        font: 600 30px sans-serif;
        text-transform: capitalize;
    }

    section#aboutUs .about-text p{
        width: 100%;
    }

    section#aboutUs .about-text .btn{
        padding: 7px 20px;
        font-weight: 500;
    }

    section#aboutUs .about-image{
        width: 100%;
        margin-top: 30px;
        position: relative;
    }
    
    section#aboutUs .about-image .square{
        position: absolute;
        top: 30px;
        bottom: -30px;
        right: 20px;
        left: -20px;
        z-index: -1;
        border: 3px solid grey;
    }

    .service-gallery .s-card{
        padding:  20px 3px;
        transition: 0.5s;
    }

    section#ourService .service-gallery{
        display: block;
    }

    section#ourService .service-gallery .s-card{
        margin-bottom: 40px;
    }

    .project-images{
        display: block;
    }

    .single-img{
        display: block;
        width: 100%;
        height: 100%;
    }

    .gallery-images{
        display: block;
    }

    .gallery-images img{
        margin: 30px 0;
    }

    section#ourTeam h3{
        font: 600 30px sans-serif;
    }
    
    section#ourTeam .title-p{
        font: 500 17px sans-serif;
    }

    section#ourPrice .our-cards{
        display: block;
    }
    
    section#ourPrice .our-cards .card{
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    section#homepage .header{
        padding: 20px 100px;
        /* display: block; */
    }

    .navbar .menu{
        padding: 0;
    }

    .swiper-slide {
        padding: 0 90px;
      }

    .swiper-slide h1{
        font: 500 60px sans-serif;
        width: 80%;
    }
    
    .swiper-slide p{
        font: 500 22px sans-serif;
        width: 100%;
    }

    .swiper-button-prev i{
        font-size: 45px;
        margin-left: 30px;
    }
    
    .swiper-button-next i{
        font-size: 45px;
        margin-right: 30px;
    }

    .swiper-slide .btns .btn{
        padding: 10px 15px;
        font: 500 16px sans-serif;
    }

    .swiper-slide .btns{
        width: 55%;
        display: flex;
        justify-content: space-between;
    }

    section#whatWeDo{
        width: 98%;
    }

    section#whatWeDo .what-cards .what-card{
        width: 300px;
        height: 300px;
        padding: 20px 10px;
    }

    section#whatWeDo .what-cards .what-card p{
        margin: 0;
    }
    
    section#aboutUs{
        width: 90%;
    }

    section#ourService{
        width: 90%;
    }
    section#ourService .service-gallery{
        gap: 30px;
    }

    .single-img{
        display: block;
        width: 100%;
        height: 100%;
        margin-bottom: 30px;
    }

    .project-images{
        display: block;
    }

    section#ourPrice .our-cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
        margin: 50px auto 0 auto;

    }
    
    section#ourPrice .our-cards .card{
        width: 100%;
    }

}

@media screen and (min-width:992px) and (max-width: 1200px){
    .swiper-slide {
        padding: 0 100px;
      }

    .swiper-slide h1{
        font: 500 63px sans-serif;
        width: 63%;
    }
    
    .swiper-slide p{
        font: 500 23px sans-serif;
        width: 80%;
    }

    .swiper-button-prev i{
        font-size: 50px;
        margin-left: 30px;
    }
    
    .swiper-button-next i{
        font-size: 50px;
        margin-right: 30px;
    }

    .swiper-slide .btns .btn{
        padding: 13px 20px;
        font: 500 16px sans-serif;
    }

    .swiper-slide .btns{
        width: 43%;
        display: flex;
        justify-content: space-between;
    }

    section#whatWeDo{
        width: 90%;
    }

    .gallery-images{
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .project-images{
        align-items:start;
    }

    section#ourPrice .our-cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
        margin: 50px auto 0 auto;

    }
    
    section#ourPrice .our-cards .card{
        width: 100%;
    }
}

@media screen and (min-width:1200px) and (max-width: 1400px){
    .swiper-slide {
        padding: 0 100px;
      }

    .swiper-slide h1{
        font: 500 65px sans-serif;
        width: 60%;
    }
    
    .swiper-slide p{
        font: 500 25px sans-serif;
        width: 75%;
    }

    .swiper-button-prev i{
        font-size: 55px;
        margin-left: 35px;
    }
    
    .swiper-button-next i{
        font-size: 55px;
        margin-right: 35px;
    }

    .swiper-slide .btns .btn{
        padding: 15px 25px;
        font: 500 16px sans-serif;
    }

    .swiper-slide .btns{
        width: 37%;
        display: flex;
        justify-content: space-between;
    }

}